# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/*
cpp/build/*
cpp/build_dpcpp/*
cpp/build_acpp/*
cpp/build_cuda/*
cpp/build_hip/*
cpp/build_omp/*
.vscode/*
.claude/*
CLAUDE.md

*.pyc
