lidar_odometry_node:
  ros__parameters:
    # gpu or cpu
    sycl/device_type: gpu
    # intel or nvidia or amd
    sycl/device_vendor: intel

    T_base_link_to_lidar/x: 0.0
    T_base_link_to_lidar/y: 0.0
    T_base_link_to_lidar/z: 0.0
    T_base_link_to_lidar/qx: 0.0
    T_base_link_to_lidar/qy: 0.0
    T_base_link_to_lidar/qz: 0.0
    T_base_link_to_lidar/qw: 1.0

    scan/covariance/neighbor_num: 15
    scan/preprocess/box_filter/enable: true
    scan/preprocess/box_filter/max: 100.0
    scan/preprocess/box_filter/min: 0.4
    scan/preprocess/angle_incidence_filter/enable: false
    scan/preprocess/angle_incidence_filter/min_angle: 0.0   # 0 degrees (lower limit)
    scan/preprocess/angle_incidence_filter/max_angle: 1.396 # 80 degrees
    # scan/preprocess/angle_incidence_filter/max_angle: 1.570796 # 90 degrees (upper limit)

    scan/intensity_correction/enable: false
    scan/intensity_correction/exp: 2.0
    scan/intensity_correction/scale: 1.0e-3
    scan/intensity_correction/min_intensity: 0.0
    scan/intensity_correction/max_intensity: 1.0
    scan/downsampling/voxel/enable: false
    scan/downsampling/voxel/voxel_size: 0.3
    scan/downsampling/polar/enable: true
    scan/downsampling/polar/distance_size: 0.5  # meters
    scan/downsampling/polar/elevation_size: 0.017453292519943295 # 1 degrees
    scan/downsampling/polar/azimuth_size: 0.017453292519943295   # 1 degrees
    scan/downsampling/polar/coord_system: LIDAR  # CAMERA or LIDAR
    scan/downsampling/random/enable: false
    scan/downsampling/random/num: 4096

    submap/covariance/neighbor_num: 15
    submap/color_gradient/neighbor_num: 15
    submap/voxel_size: 0.4
    submap/max_distance_range: 50.0
    submap/point_random_sampling_num: 512
    submap/keyframe/inlier_ratio_threshold: 0.7
    submap/keyframe/distance_threshold: 2.0
    submap/keyframe/angle_threshold_degrees: 20.0
    submap/keyframe/time_threshold_seconds: 1.0
    submap/occupancy_grid_map/enable: true
    submap/occupancy_grid_map/log_odds_hit: 0.5
    submap/occupancy_grid_map/log_odds_miss: -0.03
    submap/occupancy_grid_map/log_odds_limits/min: -10.0
    submap/occupancy_grid_map/log_odds_limits/max: 10.0
    submap/occupancy_grid_map/occupied_threshold: 0.5
    submap/occupancy_grid_map/enable_pruning: true
    submap/occupancy_grid_map/stale_frame_threshold: 600

    motion_prediction/static_factor: 0.2
    motion_prediction/verbose: false
    motion_prediction/adaptive/rotation/enable: true
    motion_prediction/adaptive/rotation/factor/min: 0.2
    motion_prediction/adaptive/rotation/factor/max: 1.0
    motion_prediction/adaptive/rotation/min_eigenvalue/low: 5.0
    motion_prediction/adaptive/rotation/min_eigenvalue/high: 10.0
    motion_prediction/adaptive/translation/enable: true
    motion_prediction/adaptive/translation/factor/min: 0.2
    motion_prediction/adaptive/translation/factor/max: 1.0
    motion_prediction/adaptive/translation/min_eigenvalue/low: 1.0
    motion_prediction/adaptive/translation/min_eigenvalue/high: 10.0

    registration/type: gicp  # point_to_point, point_to_plane, point_to_distribution, gicp, genz
    registration/min_num_points: 300
    registration/random_sampling/enable: true
    registration/random_sampling/num: 2048
    registration/velocity_update/enable: true
    registration/velocity_update/iter: 2
    registration/max_iterations: 4
    registration/lambda: 1.0e-2
    registration/max_correspondence_distance: 2.0
    registration/mahalanobis_distance_threshold: 2.5  # (p = 0.90)
    registration/criteria/translation: 1.0e-3
    registration/criteria/rotation: 1.0e-6
    registration/robust/type: GEMAN_MCCLURE  # NONE, HUBER, TUKEY, CAUCHY, GEMAN_MCCLURE
    registration/robust/auto_scale: true
    registration/robust/init_scale: 10.0
    registration/robust/min_scale: 1.25
    registration/robust/scaling_iter: 4
    registration/photometric/enable: false
    registration/photometric/weight: 0.2        # Scaling factor to balance photometric error with geometric error
    registration/photometric/robust_scale: 5.0  # Large scale is strong constraint
    registration/genz/planarity_threshold: 0.2
    registration/rotation_constraint/enable: true
    registration/rotation_constraint/weight: 5.0        # Scaling factor to balance constraint error with geometric error
    registration/rotation_constraint/robust/init_scale: 10.0
    registration/rotation_constraint/robust/min_scale: 7.5
    registration/optimization_method: DOGLEG  # GN, LM, DOGLEG
    registration/lm/max_inner_iterations: 5
    registration/lm/lambda_factor: 2.0
    registration/lm/max_lambda: 1.0e+3
    registration/lm/min_lambda: 1.0e-3
    registration/dogleg/initial_trust_region_radius: 2.0
    registration/dogleg/max_trust_region_radius: 10.0
    registration/dogleg/min_trust_region_radius: 1.0e-3
    registration/dogleg/eta1: 0.25
    registration/dogleg/eta2: 0.75
    registration/dogleg/gamma_decrease: 0.80
    registration/dogleg/gamma_increase: 1.25
    registration/degenerate_regularization/type: "NL_REG" # NONE, NL_REG
    registration/degenerate_regularization/nl_reg/trans_eigenvalue_threshold: 10.0
    registration/degenerate_regularization/nl_reg/rot_eigenvalue_threshold: 10.0
    registration/degenerate_regularization/nl_reg/base_factor: 0.2
    registration/verbose: false

    vis/covariance_markers/scan/topic_name: "sycl_lo/scan_covariance_markers"
    vis/covariance_markers/scan/marker_ns: "covariance_ellipsoids"
    vis/covariance_markers/scan/scale_factor: 0.5
    vis/covariance_markers/scan/min_scale: 0.0
    vis/covariance_markers/scan/max_scale: 1.0
    vis/covariance_markers/scan/alpha: 0.2
    vis/covariance_markers/scan/color_by_planarity: false
    vis/covariance_markers/scan/default_r: 0.0
    vis/covariance_markers/scan/default_g: 1.0
    vis/covariance_markers/scan/default_b: 0.2
